html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover {
  text-decoration: none;
  color: #444444;
}

.layout {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
